/* To customize card */
.card{
    display:flex;
    justify-content:center;
}
/* QR-Code */
.card canvas{
    align-self:center;
}

/* Standard-stuff */
#cards{
    width: 794px;
}
.card{
    text-align:initial;
    background: linear-gradient(75deg, black 0%, rgba(20,17,47,1) 30%, rgba(0,153,213,1) 100%);
    width: 100%;
    height: 374px;
}